/* ---------------------------------------------- *\

  Partial: base

\* ---------------------------------------------- */
body {
  font-family: $base-font;
  color: $black;
  line-height: 1.6;
}
.container {
  @include container(1200px);
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
