/* ---------------------------------------------- *\

  Partial: buttons

\* ---------------------------------------------- */
@mixin button {
  padding: ms(-1) 2em;
  display: inline-block;
  margin: 0.2em;
  font-size: ms(1);
  background-color: #3f3f3f;
  background-image: linear-gradient(180deg, #3f3f3f, black);
  outline: none;
  border: none;
  color: white;
  // font-weight: bold;
  border-radius: 2px;
  cursor: pointer;
  margin: 0.4em 0.2em;
  -webkit-appearance: none;
  &:hover, &.proceed {
    background: $green;
  }
}

a.btn {
  @include button;
}
