$susy: ( flow: ltr, output: float, container: 1424px, container-position: center, columns: 12, gutters: 0 ); // USEAGE:
@include breakpoint-set( 'no query fallbacks', true);
@include breakpoint-set( 'to ems', true);
$BREAKPOINTS: (0: 0px, 400: 400px, u400: (0px 399px), 480: 480px, u480: (0px 479px), 640: 640px, u640: (0px 639px), 920: 920px, u920: (0px 919px), 1025: 1025px, u1025: (0px 1024px), 1100: 1100px, u1100: (0px 1099px), 1150: 1150px, u1150: (0px 1149px), 1200: 1200px, u1200: (0px 1199px), 1250: 1250px, u1250: (0px 1249px), 1300: 1300px, u1300: (0px, 1299px), 1500:1500px, u1500:(0px 1499px), h1080:(min-height 1080px), min-ar16-9:(min-aspect-ratio '31/18'), portrait: (orientation portrait) );



//optional grid class generator:

// $gridBreakpoints: ( (0, "xs"), (480, "sm"), (920, "md"), (1250, "lg"));
// $grid-column-namespace: "g";
// $container-namespace: "container";
// $container-full-width: 1400;
// $container-sizes: ((12, 1400px), (10, 1167px), (8, 933px), (6, 700px), (4, 467px));
// @each $gridSize, $containerWidth in $container-sizes {
//     .container-#{$gridSize} {
//         @include container($containerWidth);
//         padding-left: 1em;
//         padding-right: 1em;
//         @each $breakpoint, $label in $gridBreakpoints {
//              @for $i from 1 through map-get($susy, columns){
//                 .#{$grid-column-namespace}-#{$i}-#{$label} {
//                     @include respond-to($breakpoint) {
//                          @include span(percentage($i/$gridSize) no-gutter);
//                         &.empty {
//                             height: 1px;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }
