/* ---------------------------------------------- *\

  Partial: typography

\* ---------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1;
	margin-bottom: 0.25em;
}
h1 {

	font-weight: bold;
	text-transform: capitalize;
		font-size: ms(5);
	@include respond-to(640) {
		font-size: ms(6);
	}
	@include respond-to(920) {
		font-size: ms(7);
	}
}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}
p {
	margin-bottom: ms(0);
	&:last-child {
		margin-bottom: 0;
	}
}
strong, b {
	font-weight: bold;
}
em {
	font-style: italic;
}
