header.header
  .header_inner
    a(href="/")
      .header_logo Store
    nav.header_nav
      ul

        li.header_nav_cat
          a(href="#") Category
        li.header_nav_cat.active
          a(href="#") Category
        li.header_nav_cat
          a(href="#") Category
        li.header_nav_cat
          a(href="#") Category
        li.header_nav_cat
          a(href="#") Category    
    a.header_basket#basket(href="#")    
    a.header_search#searchBtn(href="#")
  .header_searchbar
    input(type="text" id="search" placeholder="Search...")
    .header_searchbar_close(id="searchClose") ×
