.header {
  @include fixed(0, 0, auto, 0);
  background: black;
  color: white;
  padding: 1em 0;
  transition: padding 0.3s;
  z-index: 10;

  .scrolled & {
    padding: 0.25em 0;
  }
  @include respond-to(u1025) {
    padding: 0.25em 0;
  }

  &_inner {
    @include container(100%);
  }

  &_logo {
    @include span(200px);
    max-width: 50%;
    font-size: ms(9);
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 0.2em 0 ms(-9);

    font-family: $condensed;
    color: white;
    transition: transform 0.1s;

    &:hover {
      transform: scale(1.05);
    }
  }

  &_nav {
    @include respond-to(u1025) {
      display: none;
    }
    width: calc(100% - 400px);
    float: left;
    text-align: center;

    ul,
    ul li {
      list-style-type: none;
    }

    ul {
      font-size: 0;
    }

    &_cat {
      font-size: 16px;
      display: inline-block;
      padding: 0 1em;

      a {
        color: white;
        text-decoration: none;
        font-size: ms(1);
        padding: (ms(11) - ms(1))/2 0;
        font-weight: bold;
        display: block;
        position: relative;
        overflow: hidden;

        &::after {
          content: "";
          display: block;
          height: 2px;
          @include absolute(auto, 0, 1em, 0);
          background: white;
          transform: translateX(-101%);
        }

        &:hover::after {
          transform: translateX(101%);
          transition: transform 0.5s linear;
        }
      }

      &.active {
        a {
          color: $grey;

          &::after {
            display: none;
          }
        }
      }
    }
  }

  &_basket,
  &_search {
    height: 32px;
    width: 32px;
    float: right;
    // margin: 3em;
    margin: 1.2em 2em 1.2em 0;
    cursor: pointer;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.2);
    }
  }

  &_search {
    background-image: url('/assets/images/search.png');
    @include respond-to(u640) {
      margin-right: 0.5em;
    };
    @include respond-to(u400) {
      margin-right: 0.3em;
    }
  }

  &_basket {
    background-image: url('/assets/images/basket.png');
    @include respond-to(u1025) {
      margin-right: 95px;
    }
    @include respond-to(u640) {
      margin-right: 80px;
    }
    @include respond-to(u400) {
      margin-right: 75px;
    }
    position: relative;
    &.items::after {
      content: attr(data-items);
      @include absolute(-7px, 0, auto, 8px);
      color: white;
      text-align: center;
      font-weight: bold;
      font-size: ms(-2);
    }

  }

  &_searchbar {
    // background: white;
    background: rgba(black, 0.9);
    padding: 1em 0;
    @include absolute(100%, 0, auto, 0);
    opacity: 0;
    z-index: -1;
    transform: translateY(-100%);

    .searchOpen & {
      transform: none;
      opacity: 1;
      transition: transform 0.2s, opacity, 0.2s 0.1s;
    }

    input {
      display: block;
      width: 100%;
      // max-width: 600px;
      margin: 0 auto;
      font-size: ms(2);
      text-align: center;
      padding: 0.5em;
      background: transparent;
      border: none;
      color: white;
    }

    &_close {
      @include absolute(0, 16px, auto, auto);
      font-size: ms(6);
      cursor: pointer;
      padding: 0.25em;
    }
  }
}
