.promo {
  @include bg-image('roads.jpg');
  padding: 8em 1em;
  text-align: center;
  &_text {
    color: white;
    font-weight: bold;
    font-size: ms(7);
    text-shadow: 0px 0px 5px rgba(black, 0.7);
    @include respond-to(640) {
          font-size: ms(8);
    };
    @include respond-to(920) {
          font-size: ms(10);
    };
    @include respond-to(1025) {
          font-size: ms(11);
    };

    text-transform: uppercase;
    display: inline-block;
    max-width: 486px;
    line-height: 1.2;
    .js & {
      opacity: 0;
      transform: scale(0.9);
      transition: all 0.4s 0.3s;
      &.visible {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}
