@include respond-to(1025) {
  .side {
    display: none;
  }
}
@include respond-to(u1025) {
  .menuOpen {
    overflow-y: hidden;
  }

  .header,
  .side,
  .site {
    transition: all 0.5s;
  }

  .site {
    position: relative;
    right: 0;
    left: 0;
    overflow-x: hidden;

    .menuOpen & {
      right: 300px;
      left: -300px;
    }
  }

  .side {
    position: relative;
  }

  .header {
    .menuOpen & {
      right: 300px;
      left: -300px;
    }
  }

  .side {
    &_menu {
      padding-top: 4em;
      position: relative;
      z-index: 2;

      li {
        display: block;
        text-align: center;
      }
      a {
        padding: 0.5em 1em;
        display: block;
        color: $white;
        font-size: ms(2);
        color: white;
        text-transform: capitalize;
        font-weight: bold;
      }
    }

    box-shadow: inset 0 0 4px rgba(black, 0.2);
    position: fixed;
    width: 300px;

    left: auto;
    top: 0;
    bottom: 0;
    background: $black;
    color: white;
    z-index: 11;
    right: -300px;

    .menuOpen & {
      right: 0;
    }

  }
  $menuBtn-size: 32px;
  $menuBtn-thickness: 0.16;
  $menuBtn-borderRadius: 1px;
  $menuBtn-color: white;

  .menuBtn {
    z-index: 100;
    position: fixed;
    right: 1em;
    top: 1.6em;
    cursor: pointer;
    display: block;
    width: $menuBtn-size * (4/3);
    height: $menuBtn-size;
    .menuOpen & {
      transition: all 0.5s;
      transform: rotate(-270deg) scale(0.75);
      opacity: 0.5;
      top: 15px;
      right: 10px;
    }

    &::after,
    &::before,
    .menuBtn_bar {
      background: $menuBtn-color;
      height: $menuBtn-thickness * $menuBtn-size;
      width: 100%;
      // box-shadow: 0 1px 2px rgba(black, 0.2);
      border-radius: $menuBtn-borderRadius;

      .menuOpen & {
        box-shadow: none;
        background: white;
      }
    }

    &::after,
    &::before {
      content: "";
      display: block;
      transition: all 0.5s;
      .menuOpen & {
        transition: all 0.5s;
      }
    }

    &::after {
      @include absolute(auto, 0, 0, 0);
      .menuOpen & {
        @include absolute(50%, 0, auto, 0);
        transform: translateY(-50%) rotate(225deg);
        transform-origin: center center;
      }
    }

    &::before {
      @include absolute(0, 0, auto, 0);
      .menuOpen & {
        @include absolute(50%, 0, auto, 0);
        transform: translateY(-50%) rotate(135deg);
      }
    }

    .menuBtn_bar {
      @include absolute(50%, 0, auto, 0);
      transform: translateY(-50%);
      transition: all 0.4s 0.4s;

      .menuOpen & {
        opacity: 0;
        transform: translateX(50px) translateY(-50%);
        transition: all 0s 0s;
      }
    }
  }
}
