//Animates a roll-out effect on a group of elements. Useful for menus.
@mixin rollout($total, $speed, $delay) {
    opacity: 0;
    transition: opacity 0s;
    .active & {
        opacity: 1;
        @for $i from 1 through $total {
            &:nth-child(#{$i}) {
                transition: $speed / 2;
                transition-delay: $delay + $speed * $i;
            }
        }
    }
}
//Tint over an element (element must have position absolute/fixed/relative).
@mixin tint($color, $opacity) {
    &:after {
        content: "";
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        opacity: $opacity;
        transition: opacity 0.3s;
        position: absolute;
        background: $color;
        z-index: 0;
    }
}
//Animated underlines on hover
@mixin hover-line($color, $time: 0.6s, $thickness: 2px) {
    position: relative;
    &:after {
        content: "";
        position: absolute;
        display: block;
        height: $thickness;
        background: $color;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        transform: scaleX(0);
        transition: transform $time;
    }
    &:hover {
        &:after {
            transform: scaleX(1);
        }
    }
}
//Responsive wrapper for svgs, ensures correct sizing on dodgy old browsers (mobile safari mainly..).
@mixin wrapSVG($width: 1, $height: 1) {
    width: 100%;
    height: 0;
    position: relative;
    padding-bottom: percentage($height / $width);
    svg {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
    }
}


//sets a background image with cover and (optional) custom positioning.
$s-path: "/assets/" !default;
$image-folder: "images" !default;
@mixin bg-image($filename, $position: center center) {
    background-size: cover;
    background-position: $position;
    background-image: url("#{$s-path}#{$image-folder}/#{$filename}");
}

//aboslutely positions an element, optional top/right/bottom/left
@mixin absolute($top: 0, $right: 0, $bottom: 0, $left: 0) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}
@mixin fixed($top: 0, $right: 0, $bottom: auto, $left: 0) {
    position: fixed;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}
// =============================================================================
// Font Face
// =============================================================================

@function str-replace($string, $search, $replace: "") {
    $index: str-index($string, $search);
    @if $index {
         @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }
    @return $string;
}

$font-path: #{$s-path}fonts !default;
@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff ttf svg) {
    $src: null;
    $extmods: ( eot: "?", svg: "#" + str-replace($name, " ", "_") );
    $formats: ( otf: "opentype", ttf: "truetype" );
    @each $ext in $exts {
        $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
        $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
        $src: append($src, url(quote($font-path + "/" + $path + "." + $extmod)) format(quote($format)), comma);
    }
    @font-face {
        font-family: quote($name);
        font-style: $style;
        font-weight: $weight;
        src: $src;
    }
}
