
@font-face {
	font-family: 'Helvetica Neue';
	src: url('/assets/fonts/Helvetica-Bold.eot');
	src: url('/assets/fonts/Helvetica-Bold.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/Helvetica-Bold.woff') format('woff'),
		url('/assets/fonts/Helvetica-Bold.ttf') format('truetype'),
		url('/assets/fonts/Helvetica-Bold.svg#Helvetica-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('/assets/fonts/HelveticaNeue.eot');
	src: url('/assets/fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/HelveticaNeue.woff') format('woff'),
		url('/assets/fonts/HelveticaNeue.ttf') format('truetype'),
		url('/assets/fonts/HelveticaNeue.svg#HelveticaNeue') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue Condensed';
	src: url('/assets/fonts/HelveticaNeue-CondensedBold.eot');
	src: url('/assets/fonts/HelveticaNeue-CondensedBold.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/HelveticaNeue-CondensedBold.woff') format('woff'),
		url('/assets/fonts/HelveticaNeue-CondensedBold.ttf') format('truetype'),
		url('/assets/fonts/HelveticaNeue-CondensedBold.svg#HelveticaNeue-CondensedBold') format('svg');
	font-weight: bold;
	font-style: normal;
}



// http://www.modularscale.com/
$ms-base: 1em;
$ms-ratio: 1.125; //
// Base colours
$white: #FFFFFF;
$black: #333;
// $color-base: #133958;
// $color-comp: #ab0509;
$grey: #999; //
$red: #f80000;
$pink: #ff2b99;
$teal: #59f9ff;
$blue: #4f41a0;
$orange: #ff8b5e;
$green: #8bd91b;

$base-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$condensed: "Helvetica Neue Condensed", Helvetica, Arial, sans-serif;
