@font-face {
  font-family: 'Helvetica Neue';
  src: url("/assets/fonts/Helvetica-Bold.eot");
  src: url("/assets/fonts/Helvetica-Bold.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/Helvetica-Bold.woff") format("woff"), url("/assets/fonts/Helvetica-Bold.ttf") format("truetype"), url("/assets/fonts/Helvetica-Bold.svg#Helvetica-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica Neue';
  src: url("/assets/fonts/HelveticaNeue.eot");
  src: url("/assets/fonts/HelveticaNeue.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/HelveticaNeue.woff") format("woff"), url("/assets/fonts/HelveticaNeue.ttf") format("truetype"), url("/assets/fonts/HelveticaNeue.svg#HelveticaNeue") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Helvetica Neue Condensed';
  src: url("/assets/fonts/HelveticaNeue-CondensedBold.eot");
  src: url("/assets/fonts/HelveticaNeue-CondensedBold.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/HelveticaNeue-CondensedBold.woff") format("woff"), url("/assets/fonts/HelveticaNeue-CondensedBold.ttf") format("truetype"), url("/assets/fonts/HelveticaNeue-CondensedBold.svg#HelveticaNeue-CondensedBold") format("svg");
  font-weight: bold;
  font-style: normal; }

/* ---------------------------------------------- *
  Partial: reset

\* ---------------------------------------------- */
* {
  box-sizing: border-box; }

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body,
html {
  height: 100%; }

a img {
  border: none; }

blockquote {
  quotes: none; }

blockquote:after,
blockquote:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption,
td,
th {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* ---------------------------------------------- *
  Partial: base

\* ---------------------------------------------- */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  line-height: 1.6; }

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

/* ---------------------------------------------- *
  Partial: typography

\* ---------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin-bottom: 0.25em; }

h1 {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.80203em; }
  @media (min-width: 40em) {
    h1 {
      font-size: 2.02729em; } }
  @media (min-width: 57.5em) {
    h1 {
      font-size: 2.2807em; } }

p {
  margin-bottom: 1em; }
  p:last-child {
    margin-bottom: 0; }

strong, b {
  font-weight: bold; }

em {
  font-style: italic; }

/* ---------------------------------------------- *
  Partial: buttons

\* ---------------------------------------------- */
a.btn {
  padding: 0.88889em 2em;
  display: inline-block;
  margin: 0.2em;
  font-size: 1.125em;
  background-color: #3f3f3f;
  background-image: linear-gradient(180deg, #3f3f3f, black);
  outline: none;
  border: none;
  color: white;
  border-radius: 2px;
  cursor: pointer;
  margin: 0.4em 0.2em;
  -webkit-appearance: none; }
  a.btn:hover, a.btn.proceed {
    background: #8bd91b; }

.header {
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  background: black;
  color: white;
  padding: 1em 0;
  transition: padding 0.3s;
  z-index: 10; }
  .scrolled .header {
    padding: 0.25em 0; }
  @media (min-width: 0em) and (max-width: 64em) {
    .header {
      padding: 0.25em 0; } }
  .header_inner {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; }
    .header_inner:after {
      content: " ";
      display: block;
      clear: both; }
  .header_logo {
    width: 200px;
    float: left;
    max-width: 50%;
    font-size: 2.88651em;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 0.2em 0 0.34644em;
    font-family: "Helvetica Neue Condensed", Helvetica, Arial, sans-serif;
    color: white;
    transition: -webkit-transform 0.1s;
    transition: transform 0.1s;
    transition: transform 0.1s, -webkit-transform 0.1s; }
    .header_logo:hover {
      -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
              transform: scale(1.05); }
  .header_nav {
    width: calc(100% - 400px);
    float: left;
    text-align: center; }
    @media (min-width: 0em) and (max-width: 64em) {
      .header_nav {
        display: none; } }
    .header_nav ul,
    .header_nav ul li {
      list-style-type: none; }
    .header_nav ul {
      font-size: 0; }
    .header_nav_cat {
      font-size: 16px;
      display: inline-block;
      padding: 0 1em; }
      .header_nav_cat a {
        color: white;
        text-decoration: none;
        font-size: 1.125em;
        padding: 1.26412em 0;
        font-weight: bold;
        display: block;
        position: relative;
        overflow: hidden; }
        .header_nav_cat a::after {
          content: "";
          display: block;
          height: 2px;
          position: absolute;
          top: auto;
          right: 0;
          bottom: 1em;
          left: 0;
          background: white;
          -webkit-transform: translateX(-101%);
              -ms-transform: translateX(-101%);
                  transform: translateX(-101%); }
        .header_nav_cat a:hover::after {
          -webkit-transform: translateX(101%);
              -ms-transform: translateX(101%);
                  transform: translateX(101%);
          transition: -webkit-transform 0.5s linear;
          transition: transform 0.5s linear;
          transition: transform 0.5s linear, -webkit-transform 0.5s linear; }
      .header_nav_cat.active a {
        color: #999; }
        .header_nav_cat.active a::after {
          display: none; }
  .header_basket, .header_search {
    height: 32px;
    width: 32px;
    float: right;
    margin: 1.2em 2em 1.2em 0;
    cursor: pointer;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s; }
    .header_basket:hover, .header_search:hover {
      -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
              transform: scale(1.2); }
  .header_search {
    background-image: url("/assets/images/search.png"); }
    @media (min-width: 0em) and (max-width: 39.9375em) {
      .header_search {
        margin-right: 0.5em; } }
    @media (min-width: 0em) and (max-width: 24.9375em) {
      .header_search {
        margin-right: 0.3em; } }
  .header_basket {
    background-image: url("/assets/images/basket.png");
    position: relative; }
    @media (min-width: 0em) and (max-width: 64em) {
      .header_basket {
        margin-right: 95px; } }
    @media (min-width: 0em) and (max-width: 39.9375em) {
      .header_basket {
        margin-right: 80px; } }
    @media (min-width: 0em) and (max-width: 24.9375em) {
      .header_basket {
        margin-right: 75px; } }
    .header_basket.items::after {
      content: attr(data-items);
      position: absolute;
      top: -7px;
      right: 0;
      bottom: auto;
      left: 8px;
      color: white;
      text-align: center;
      font-weight: bold;
      font-size: 0.79012em; }
  .header_searchbar {
    background: rgba(0, 0, 0, 0.9);
    padding: 1em 0;
    position: absolute;
    top: 100%;
    right: 0;
    bottom: auto;
    left: 0;
    opacity: 0;
    z-index: -1;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%); }
    .searchOpen .header_searchbar {
      -webkit-transform: none;
          -ms-transform: none;
              transform: none;
      opacity: 1;
      transition: opacity, 0.2s 0.1s, -webkit-transform 0.2s;
      transition: transform 0.2s, opacity, 0.2s 0.1s;
      transition: transform 0.2s, opacity, 0.2s 0.1s, -webkit-transform 0.2s; }
    .header_searchbar input {
      display: block;
      width: 100%;
      margin: 0 auto;
      font-size: 1.26563em;
      text-align: center;
      padding: 0.5em;
      background: transparent;
      border: none;
      color: white; }
    .header_searchbar_close {
      position: absolute;
      top: 0;
      right: 16px;
      bottom: auto;
      left: auto;
      font-size: 2.02729em;
      cursor: pointer;
      padding: 0.25em; }

@media (min-width: 64.0625em) {
  .side {
    display: none; } }

@media (min-width: 0em) and (max-width: 64em) {
  .menuOpen {
    overflow-y: hidden; }
  .header,
  .side,
  .site {
    transition: all 0.5s; }
  .site {
    position: relative;
    right: 0;
    left: 0;
    overflow-x: hidden; }
    .menuOpen .site {
      right: 300px;
      left: -300px; }
  .side {
    position: relative; }
  .menuOpen .header {
    right: 300px;
    left: -300px; }
  .side {
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 300px;
    left: auto;
    top: 0;
    bottom: 0;
    background: #333;
    color: white;
    z-index: 11;
    right: -300px; }
    .side_menu {
      padding-top: 4em;
      position: relative;
      z-index: 2; }
      .side_menu li {
        display: block;
        text-align: center; }
      .side_menu a {
        padding: 0.5em 1em;
        display: block;
        color: #FFFFFF;
        font-size: 1.26563em;
        color: white;
        text-transform: capitalize;
        font-weight: bold; }
    .menuOpen .side {
      right: 0; }
  .menuBtn {
    z-index: 100;
    position: fixed;
    right: 1em;
    top: 1.6em;
    cursor: pointer;
    display: block;
    width: 42.66667px;
    height: 32px; }
    .menuOpen .menuBtn {
      transition: all 0.5s;
      -webkit-transform: rotate(-270deg) scale(0.75);
          -ms-transform: rotate(-270deg) scale(0.75);
              transform: rotate(-270deg) scale(0.75);
      opacity: 0.5;
      top: 15px;
      right: 10px; }
    .menuBtn::after, .menuBtn::before,
    .menuBtn .menuBtn_bar {
      background: white;
      height: 5.12px;
      width: 100%;
      border-radius: 1px; }
      .menuOpen .menuBtn::after, .menuOpen .menuBtn::before, .menuOpen
      .menuBtn .menuBtn_bar {
        box-shadow: none;
        background: white; }
    .menuBtn::after, .menuBtn::before {
      content: "";
      display: block;
      transition: all 0.5s; }
      .menuOpen .menuBtn::after, .menuOpen .menuBtn::before {
        transition: all 0.5s; }
    .menuBtn::after {
      position: absolute;
      top: auto;
      right: 0;
      bottom: 0;
      left: 0; }
      .menuOpen .menuBtn::after {
        position: absolute;
        top: 50%;
        right: 0;
        bottom: auto;
        left: 0;
        -webkit-transform: translateY(-50%) rotate(225deg);
            -ms-transform: translateY(-50%) rotate(225deg);
                transform: translateY(-50%) rotate(225deg);
        -webkit-transform-origin: center center;
            -ms-transform-origin: center center;
                transform-origin: center center; }
    .menuBtn::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: auto;
      left: 0; }
      .menuOpen .menuBtn::before {
        position: absolute;
        top: 50%;
        right: 0;
        bottom: auto;
        left: 0;
        -webkit-transform: translateY(-50%) rotate(135deg);
            -ms-transform: translateY(-50%) rotate(135deg);
                transform: translateY(-50%) rotate(135deg); }
    .menuBtn .menuBtn_bar {
      position: absolute;
      top: 50%;
      right: 0;
      bottom: auto;
      left: 0;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      transition: all 0.4s 0.4s; }
      .menuOpen .menuBtn .menuBtn_bar {
        opacity: 0;
        -webkit-transform: translateX(50px) translateY(-50%);
            -ms-transform: translateX(50px) translateY(-50%);
                transform: translateX(50px) translateY(-50%);
        transition: all 0s 0s; } }

.breadcrumbs {
  padding: 1.60181em 1em;
  font-size: 0.79012em;
  color: #999; }
  .breadcrumbs a {
    margin-right: 0.25em;
    color: #999; }

.product {
  margin-top: 105px; }
  @media (min-width: 0em) and (max-width: 64em) {
    .product {
      margin-top: 85px; } }
  @media (min-width: 57.5em) {
    .product_details, .product_photo {
      width: 50%;
      float: left; } }
  .product_details {
    text-align: center;
    padding: 10% 7%; }
    @media (min-width: 64.0625em) {
      .js .product_details {
        opacity: 0;
        -webkit-transform: translateY(40px);
            -ms-transform: translateY(40px);
                transform: translateY(40px);
        transition: all 0.6s 0.3s; }
        .js .product_details.visible {
          opacity: 1;
          -webkit-transform: translateX(0);
              -ms-transform: translateX(0);
                  transform: translateX(0); } }
    @media (min-width: 0em) and (max-width: 74.9375em) {
      .product_details {
        padding: 7% 5%; } }
    @media (min-width: 0em) and (max-width: 64em) {
      .product_details {
        padding: 5% 2em; } }
    @media (min-width: 0em) and (max-width: 57.4375em) {
      .product_details {
        padding: 2em 1em; } }
    .product_details h1 {
      padding: 0 0.25em; }
  .product_price {
    margin-bottom: 0.79012em; }
    .product_price_orig, .product_price_sale {
      display: inline-block; }
    .product_price_sale {
      color: #f80000;
      font-size: 1.80203em; }
    .product_price_orig {
      color: #999;
      position: relative;
      text-decoration: line-through; }
  .product_desc {
    color: #999; }
  .product_photo {
    font-size: 0;
    padding: 0 16px; }
    @media (min-width: 64.0625em) {
      .js .product_photo {
        opacity: 0;
        -webkit-transform: translateY(40px);
            -ms-transform: translateY(40px);
                transform: translateY(40px);
        transition: all 0.6s 0.2s; }
        .js .product_photo.visible {
          opacity: 1;
          -webkit-transform: translateX(0);
              -ms-transform: translateX(0);
                  transform: translateX(0); } }
    .product_photo_main {
      border-radius: 2px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      display: none;
      max-width: 600px;
      margin: 0 auto; }
      .product_photo_main img {
        width: 600px; }
      .product_photo_main.active {
        display: block; }
    .product_photo_thumbnails {
      padding: 24px 0;
      max-width: 600px;
      margin: 0 auto; }
      @media (min-width: 0em) and (max-width: 57.4375em) {
        .product_photo_thumbnails {
          text-align: center; } }
    .product_photo_thumb {
      display: inline-block;
      margin-right: 20px;
      border-radius: 4px;
      background-color: black;
      overflow: hidden;
      cursor: pointer;
      position: relative;
      max-width: 25%; }
      .product_photo_thumb.colordepthumbs {
        margin-right: 0; }
      .product_photo_thumb.active:after {
        content: "";
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        opacity: 0.2;
        transition: opacity 0.3s;
        position: absolute;
        background: #59f9ff;
        z-index: 0; }
      .product_photo_thumb.active img {
        border: 5px solid black; }
      .product_photo_thumb img {
        width: 120px; }
      .product_photo_thumb.colordepthumbs {
        display: none; }
        .product_photo_thumb.colordepthumbs.visible {
          display: inline-block; }
  .product_options {
    padding: 1em 0 0; }
    .product_options_header {
      font-weight: bold; }
      .product_options_header span {
        font-weight: normal;
        color: #999;
        text-transform: capitalize; }
    .product_options_colors {
      padding: 1em 0 0;
      position: relative; }
      .product_options_colors .colorPicker {
        display: inline-block;
        font-size: 0;
        height: 20px;
        width: 20px;
        margin: 0 4px;
        border-radius: 50%;
        box-sizing: content-box;
        border: 8px solid;
        position: relative;
        cursor: pointer; }
        .product_options_colors .colorPicker-orange {
          background-color: #ff8b5e;
          border-color: #ff8b5e; }
        .product_options_colors .colorPicker-pink {
          background-color: #ff2b99;
          border-color: #ff2b99; }
        .product_options_colors .colorPicker-blue {
          background-color: #4f41a0;
          border-color: #4f41a0; }
        .product_options_colors .colorPicker-teal {
          border-color: #59f9ff;
          background-color: #59f9ff; }
        .product_options_colors .colorPicker_tooltip {
          -webkit-user-select: none;
             -moz-user-select: none;
              -ms-user-select: none;
                  user-select: none;
          opacity: 0;
          color: white;
          text-transform: capitalize;
          position: absolute;
          top: 0;
          right: -100%;
          bottom: auto;
          left: -100%;
          -webkit-transform: translateY(-75%);
              -ms-transform: translateY(-75%);
                  transform: translateY(-75%);
          text-align: center;
          border-radius: 2px;
          transition: opacity 0.3s; }
          .product_options_colors .colorPicker_tooltip_text {
            font-size: 14px;
            background: black;
            display: inline-block;
            padding: 0.2em 0.5em;
            border-radius: 2px; }
          .product_options_colors .colorPicker_tooltip::after {
            content: '';
            display: block;
            margin: 0 auto;
            width: 8px;
            height: 8px;
            background: black;
            -webkit-transform: translateY(-50%) rotate(45deg);
                -ms-transform: translateY(-50%) rotate(45deg);
                    transform: translateY(-50%) rotate(45deg); }
        .product_options_colors .colorPicker:hover {
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); }
          .product_options_colors .colorPicker:hover .colorPicker_tooltip {
            opacity: 1; }
      .product_options_colors input:checked + .colorPicker {
        background-color: white; }
      .product_options_colors input[type="radio"] {
        z-index: -1;
        height: 1px;
        width: 1px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: auto;
        left: auto;
        opacity: 0; }
  .product_stock {
    display: none;
    padding: 0.33em 0.5em;
    margin-bottom: 2.84766em;
    text-transform: uppercase;
    color: white;
    border-radius: 2px;
    font-size: 0.70233em;
    font-weight: bold;
    background: #8bd91b; }
    .js .product_stock {
      display: inline-block; }
    .product_stock::before {
      content: 'in stock'; }
    .nostock .product_stock {
      background: #f80000; }
      .nostock .product_stock::before {
        content: 'out of stock'; }
  .product_buy {
    padding: 1em 0; }
    .product_buy button,
    .product_buy input,
    .product_buy label {
      display: inline-block; }
    .product_buy label {
      font-size: 1.125em;
      text-transform: capitalize;
      font-weight: bold;
      padding: 0 0.25em; }
    .product_buy.nostock {
      color: #999; }
    .product_buy input[type="number"] {
      width: 64px;
      border: none;
      box-shadow: inset 0 0 0 3px black;
      border-radius: 2px;
      background: #f1f1f1;
      text-align: center;
      padding: 0.88889em 0;
      font-size: 1.125em;
      -moz-appearance: textfield;
      -webkit-appearance: none; }
      .product_buy input[type="number"]:disabled {
        box-shadow: inset 0 0 0 3px #999; }
      .product_buy input[type="number"]::-webkit-inner-spin-button, .product_buy input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0; }
    .product_buy button {
      padding: 0.88889em 2em;
      display: inline-block;
      margin: 0.2em;
      font-size: 1.125em;
      background-color: #3f3f3f;
      background-image: linear-gradient(180deg, #3f3f3f, black);
      outline: none;
      border: none;
      color: white;
      border-radius: 2px;
      cursor: pointer;
      margin: 0.4em 0.2em;
      -webkit-appearance: none; }
      .product_buy button:hover, .product_buy button.proceed {
        background: #8bd91b; }
    .product_buy.nostock button {
      cursor: default;
      opacity: 0.25;
      pointer-events: none; }

.checkoutBox {
  display: none; }

.proceed .checkoutBox {
  position: fixed;
  top: 50%;
  right: 0;
  bottom: auto;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 11;
  background: white;
  text-align: center;
  max-width: 80%;
  width: 600px;
  margin: 0 auto;
  display: block;
  padding: 1em;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6); }
  .proceed .checkoutBox p {
    font-size: 1.125em;
    margin-bottom: 0.2em; }
  .proceed .checkoutBox .btn {
    font-size: 0.88889em; }

.proceed body {
  overflow: hidden; }
  .proceed body:after {
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    transition: opacity 0.3s;
    position: absolute;
    background: black;
    z-index: 0; }
  .proceed body::after {
    position: fixed; }

.promo {
  background-size: cover;
  background-position: center center;
  background-image: url("/assets/images/roads.jpg");
  padding: 8em 1em;
  text-align: center; }
  .promo_text {
    color: white;
    font-weight: bold;
    font-size: 2.2807em;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
    display: inline-block;
    max-width: 486px;
    line-height: 1.2; }
    @media (min-width: 40em) {
      .promo_text {
        font-size: 2.56578em; } }
    @media (min-width: 57.5em) {
      .promo_text {
        font-size: 3.24732em; } }
    @media (min-width: 64.0625em) {
      .promo_text {
        font-size: 3.65324em; } }
    .js .promo_text {
      opacity: 0;
      -webkit-transform: scale(0.9);
          -ms-transform: scale(0.9);
              transform: scale(0.9);
      transition: all 0.4s 0.3s; }
      .js .promo_text.visible {
        opacity: 1;
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: scale(1); }
