//***************************************************
//BREADCRUMBS
//*******************************************************

.breadcrumbs {
  padding: ms(4) 1em;
  font-size: ms(-2);
  color: $grey;

  a {
    margin-right: 0.25em;
    color: $grey;
  }
}
//***************************************************
//PPRDUCT CONTAINER & GALLERY
//*******************************************************

.product {
  margin-top: 105px;
  @include respond-to(u1025) {
    margin-top: 85px;
  }

  &_details,
  &_photo {
    @include respond-to(920) {
       @include span(50%);
    }
  }
  //***************************************************
  //DETAILS
  //*******************************************************
  &_details {
    text-align: center;
    padding: 10% 7%;
    @include respond-to(1025) {
      .js & {
        opacity: 0;
        transform: translateY(40px);
        transition: all 0.6s 0.3s;

        &.visible {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
    @include respond-to(u1200) {
      padding: 7% 5%;
    }
    @include respond-to(u1025) {
      padding: 5% 2em;
    }
    @include respond-to(u920) {
      padding: 2em 1em;
    }

    h1 {
      padding: 0 0.25em;
    }
  }

  &_price {
    margin-bottom: ms(-2);

    &_orig,
    &_sale {
      display: inline-block;
    }

    &_sale {
      color: $red;
      font-size: ms(5);
    }

    &_orig {
      color: $grey;
      position: relative;
      text-decoration: line-through;
    }
  }

  &_desc {
    color: $grey;
  }
  //***************************************************
  //GALLERY
  //*******************************************************
  &_photo {
    font-size: 0;
    padding: 0 16px;
    @include respond-to(1025) {
      .js & {
        opacity: 0;
        transform: translateY(40px);
        transition: all 0.6s 0.2s;

        &.visible {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }

    &_main {
      border-radius: 2px;
      box-shadow: 0 3px 6px rgba(black, 0.2);
      overflow: hidden;
      display: none;
      max-width: 600px;
      margin: 0 auto;

      img {
        width: 600px;
      }

      &.active {
        display: block;
      }
    }

    &_thumbnails {
      padding: 24px 0;
      max-width: 600px;
      margin: 0 auto;
      @include respond-to(u920) {
        text-align: center;
      }
    }

    &_thumb {
      display: inline-block;
      margin-right: 20px;
      border-radius: 4px;
      background-color: black;
      overflow: hidden;
      cursor: pointer;
      position: relative;
      max-width: 25%;

      &.colordepthumbs {
        margin-right: 0;
      }

      &.active {
        @include tint($teal, 0.2);

        img {
          border: 5px solid black;
        }
      }

      img {
        width: 120px;
      }

      &.colordepthumbs {
        display: none;

        &.visible {
          display: inline-block;
        }
      }
    }
  }
  //***************************************************
  //OPTIONS SECTION
  //*******************************************************
  &_options {
    padding: 1em 0 0;

    &_header {
      font-weight: bold;

      span {
        font-weight: normal;
        color: $grey;
        text-transform: capitalize;
      }
    }
    //***************************************************
    //COLOR PICKER
    //*******************************************************
    &_colors {
      padding: 1em 0 0;
      position: relative;

      .colorPicker {
        display: inline-block;
        font-size: 0;
        height: 20px;
        width: 20px;
        margin: 0 4px;
        border-radius: 50%;
        box-sizing: content-box;
        border: 8px solid;
        position: relative;
        cursor: pointer;

        &-orange {
          background-color: $orange;
          border-color: $orange;
        }

        &-pink {
          background-color: $pink;
          border-color: $pink;
        }

        &-blue {
          background-color: $blue;
          border-color: $blue;
        }

        &-teal {
          border-color: $teal;
          background-color: $teal;
        }

        &_tooltip {
          user-select: none;
          opacity: 0;
          color: white;
          text-transform: capitalize;
          @include absolute(0, -100%, auto, -100%);
          transform: translateY(-75%);
          text-align: center;
          border-radius: 2px;
          transition: opacity 0.3s;

          &_text {
            font-size: 14px;
            background: black;
            display: inline-block;
            padding: 0.2em 0.5em;
            border-radius: 2px;
          }

          &::after {
            content: '';
            display: block;
            margin: 0 auto;
            width: 8px;
            height: 8px;
            background: black;
            transform: translateY(-50%) rotate(45deg);
          }
        }

        &:hover {
          box-shadow: 0 0 3px rgba(black, 0.2);

          .colorPicker_tooltip {
            opacity: 1;
          }
        }
      }

      input:checked + .colorPicker {
        background-color: white;
      }

      input[type="radio"] {
        z-index: -1;
        height: 1px;
        width: 1px;
        @include absolute(0,0, auto, auto);
        opacity: 0;
      }
    }
  }
  //***************************************************
  //IN STOCK DISPLAY
  //*********
  &_stock {
    display: none;

    .js & {
      display: inline-block;
    }
    padding: 0.33em 0.5em;
    margin-bottom: ms(3) * 2;
    text-transform: uppercase;
    color: white;
    border-radius: 2px;
    font-size: ms(-3);
    font-weight: bold;
    background: $green;

    &::before {
      content: 'in stock';
    }

    .nostock & {
      background: $red;

      &::before {
        content: 'out of stock';
      }
    }
  }
  //***************************************************
  //BUY SECTION
  //*********
  &_buy {
    padding: 1em 0;

    button,
    input,
    label {
      display: inline-block;
    }

    label {
      font-size: ms(1);
      text-transform: capitalize;
      font-weight: bold;
      padding: 0 0.25em;
    }

    &.nostock {
      color: $grey;
    }

    input[type="number"] {
      width: 64px;
      border: none;
      box-shadow: inset 0 0 0 3px black;
      border-radius: 2px;
      background: #f1f1f1;
      text-align: center;
      padding: ms(-1) 0;
      font-size: ms(1);
      -moz-appearance: textfield;
      -webkit-appearance: none;

      &:disabled {
        box-shadow: inset 0 0 0 3px $grey;
      }

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    button {
      @include button;
    }

    &.nostock button {
      cursor: default;
      opacity: 0.25;
      pointer-events: none;
    }
  }
}
//***************************************************
//Checkout Box
//*********
.checkoutBox {
  display: none;
}
.proceed {
  .checkoutBox {
    @include fixed(50%, 0, auto, 0);
    transform: translateY(-50%);
    z-index: 11;
    background: white;
    text-align: center;
    max-width: 80%;
    width: 600px;
    margin: 0 auto;
    display: block;
    padding: 1em;
    box-shadow: 0 0 6px rgba(black, 0.6);

    p {
      font-size: ms(1);
      margin-bottom: 0.2em;
    }
    .btn {
      font-size: ms(-1);
    }
  }

  body {
    overflow: hidden;
    @include tint(black, 0.4);
    &::after {
      position: fixed;
    }
  }
}
