section.product
  .container
    .breadcrumbs
      a(href="#") Home
      | &gt;
      a(href="#") Category
      | &gt;
      a(href="#") Product
    .product_inner
      .product_photo.transitions
        .product_photo_main.colordep(data-color="orange").active#photo_1
          img(src="/assets/images/flower.jpg" alt="Flower")
        .product_photo_main.colordep(data-color="pink")#photo_2
          img(src="/assets/images/flower-pink.jpg" alt="Flower")
        .product_photo_main.colordep(data-color="blue")#photo_3
          img(src="/assets/images/flower-blue.jpg" alt="Flower")
        .product_photo_main.colordep(data-color="teal")#photo_4
          img(src="/assets/images/flower-teal.jpg" alt="Flower")
        .product_photo_main#photo_5
          img(src="/assets/images/image1-thumb.jpg" alt="Pen")
        .product_photo_main#photo_6
          img(src="/assets/images/image2-thumb.jpg" alt="Mountains")
      
        .product_photo_thumbnails
          .product_photo_thumb(data-target="photo_5")
            img(src="/assets/images/image1-thumb.jpg" alt="Pen")
          .product_photo_thumb(data-target="photo_6")
            img(src="/assets/images/image2-thumb.jpg" alt="Mountains") 
          .product_photo_thumb.colordepthumbs(data-color="orange" data-target="photo_1").visible.active
            img(src="/assets/images/flower-150.jpg" alt="Flower")
          .product_photo_thumb.colordepthumbs(data-color="pink" data-target="photo_2")
            img(src="/assets/images/flower-pink-150.jpg" alt="Flower")
          .product_photo_thumb.colordepthumbs(data-color="blue" data-target="photo_3")
            img(src="/assets/images/flower-blue-150.jpg" alt="Flower")
          .product_photo_thumb.colordepthumbs(data-color="teal" data-target="photo_4")
            img(src="/assets/images/flower-teal-150.jpg" alt="Flower")
                    
      .product_details.transitions
        h1 Cooking with honey the healthy sweetener
        .product_price
          .product_price_sale £30.99
          .product_price_orig was £40.99
        .product_desc
          p If you are a culinary fan, if you like to spend time in your kitchen, you likely find yourself looking for reliable resources through which you can make the purchase of cookware products in the brick and mortar world. 
        form#productForm
          .product_options
            .product_options_header
              | Color
              span#selected-color Orange
            .product_options_colors
              input(type="radio" name="color" id="color_blue")
              label.colorPicker-blue.colorPicker(data-stock="true" data-color="blue" for="color_blue")
                .colorPicker_tooltip
                  .colorPicker_tooltip_text blue
              input(type="radio" name="color" id="color_orange" checked="true")  
              label.colorPicker-orange.active.colorPicker(data-stock="true" data-color="orange" for="color_orange")
                .colorPicker_tooltip
                  .colorPicker_tooltip_text orange
              input(type="radio" name="color" id="color_pink")
              label.colorPicker-pink.colorPicker(data-stock="false" data-color="pink" for="color_pink")
                .colorPicker_tooltip
                  .colorPicker_tooltip_text pink
              input(type="radio" name="color" id="color_teal")
              label.colorPicker-teal.colorPicker(data-stock="true" data-color="teal" for="color_teal")
                .colorPicker_tooltip
                  .colorPicker_tooltip_text teal
              .product_buy#productBuy
                .product_stock_wrap                       
                  .product_stock#stockDisplay
                label(for='quantity') quantity
                input(id="quantity" type="number" name="quantity" value="1" min="1")
                button(id="addBasket" type="submit") Add to Basket
.checkoutBox
  img(src="/assets/images/basket-b.png")
  p "Cooking with honey the healthy sweetener" has been added to your basket
  a.btn#continueShopping(href="#") Continue Shopping
  a.btn(href="/")  Checkout Now
  
